@import '../overwrites';

$rating-count: 5;
$rating-base-size: 20;
$rating-size: #{$rating-base-size}px;
$rating-color: encodecolor($global-primary-background);
$rating-inverse-color: encodecolor($global-primary-background);
$rating-base-gutter: 15;
$rating-gutter: #{$rating-base-gutter}px;
$rating-item-width: $rating-base-size + $rating-base-gutter;

.tm-star-rating-form {
  position: relative;
  display: flex;
  width: calc((#{$rating-size} * #{$rating-count}) + (#{$rating-gutter} * (#{$rating-count} - 1)));
  height: $rating-size;
  background-image: url("data:image/svg+xml,%3Csvg width='#{$rating-item-width}' height='20' viewBox='0 0 #{$rating-item-width} 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='none' stroke='#{$rating-color}' stroke-width='1.01' points='10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27' /%3E%3C/svg%3E%0A");
  background-size: #{$rating-base-size + $rating-base-gutter}px $rating-size;
  background-repeat: repeat-x;
  .uk-light & {
    background-image: url("data:image/svg+xml,%3Csvg width='#{$rating-item-width}' height='20' viewBox='0 0 #{$rating-item-width} 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='none' stroke='#{$rating-inverse-color}' stroke-width='1.01' points='10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27' /%3E%3C/svg%3E%0A");
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:focus {
      outline: none;
    }
  }

  &__star {
    position: absolute;
    top: 0;
    left: 0;
    width: #{$rating-base-size + $rating-base-gutter}px;
    height: $rating-size;
    margin: 0;
    appearance: none;
    font-size: inherit;
  }
}

.tm-star-rating-form__input:checked + .tm-star-rating-form__star, .tm-star-rating-form__star:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='#{$rating-item-width}' height='20' viewBox='0 0 #{$rating-item-width} 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='#{$rating-color}' stroke='#{$rating-color}' stroke-width='1.01' points='10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27' /%3E%3C/svg%3E%0A");
  background-size: #{$rating-base-size + $rating-base-gutter}px $rating-size;
  background-repeat: repeat-x;
  cursor: pointer;
  .uk-light & {
    background-image: url("data:image/svg+xml,%3Csvg width='#{$rating-item-width}' height='20' viewBox='0 0 #{$rating-item-width} 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='#{$rating-inverse-color}' stroke='#{$rating-inverse-color}' stroke-width='1.01' points='10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27' /%3E%3C/svg%3E%0A");
  }
}

.tm-star-rating-form__star:hover ~ .tm-star-rating-form__star {
  background-image: url("data:image/svg+xml,%3Csvg width='#{$rating-item-width}' height='20' viewBox='0 0 #{$rating-item-width} 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='none' stroke='#{$rating-color}' stroke-width='1.01' points='10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27' /%3E%3C/svg%3E%0A");
  background-size: #{$rating-base-size + $rating-base-gutter}px $rating-size;
  background-repeat: repeat-x;
  .uk-light & {
    background-image: url("data:image/svg+xml,%3Csvg width='#{$rating-item-width}' height='20' viewBox='0 0 #{$rating-item-width} 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='none' stroke='#{$rating-inverse-color}' stroke-width='1.01' points='10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27' /%3E%3C/svg%3E%0A");
  }
}

.tm-star-rating {
  position: relative;
  width: calc((#{$rating-size} * #{$rating-count}) + (#{$rating-gutter} * (#{$rating-count} - 1)));
  height: $rating-size;
  background-image: url("data:image/svg+xml,%3Csvg width='#{$rating-item-width}' height='20' viewBox='0 0 #{$rating-item-width} 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='none' stroke='#{$rating-color}' stroke-width='1.01' points='10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27' /%3E%3C/svg%3E%0A");
  background-size: ($rating-size + $rating-gutter) $rating-size;
  background-repeat: repeat-x;
  .uk-light & {
    background-image: url("data:image/svg+xml,%3Csvg width='#{$rating-item-width}' height='20' viewBox='0 0 #{$rating-item-width} 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='none' stroke='#{$rating-inverse-color}' stroke-width='1.01' points='10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27' /%3E%3C/svg%3E%0A");
  }

  &__mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $rating-size;
    margin: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='#{$rating-item-width}' height='20' viewBox='0 0 #{$rating-item-width} 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='#{$rating-color}' stroke='#{$rating-color}' stroke-width='1.01' points='10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27' /%3E%3C/svg%3E%0A");
    background-size: #{$rating-base-size + $rating-base-gutter}px $rating-size;
    background-repeat: repeat-x;
    .uk-light & {
      background-image: url("data:image/svg+xml,%3Csvg width='#{$rating-item-width}' height='20' viewBox='0 0 #{$rating-item-width} 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='#{$rating-inverse-color}' stroke='#{$rating-inverse-color}' stroke-width='1.01' points='10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27' /%3E%3C/svg%3E%0A");
    }
  }
}

@for $i from 1 through $rating-count {
  .tm-star-rating-form__star:nth-of-type(#{$i}) {
    width: calc((#{$rating-size} * #{$i}) + (#{$rating-gutter} * (#{$i} - 1)));;
    z-index: $rating-count - $i + 1;
  }
  .star-#{$i} {
    width: calc((#{$rating-size} * #{$i}) + (#{$rating-gutter} * (#{$i} - 1)));
  }
}
